body {
	background-color: #00FF00;
}

p {
	font-family: Garamond;
	text-align: center;
	font-size: 45px;
}

dl {
	font-family: Garamond;
	font-size: 40px;
}

nav {
	text-align: center;
	font-size: 35px;
	font-family: georgian;
	padding: 25px 50px 25px;
}